<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Hong's Blog">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>user_page</title>
  <link rel="stylesheet" href="../../css/nicepage.css" media="screen">
  <link rel="stylesheet" href="../../css/user_page.css" media="screen">
  <script class="u-script" type="text/javascript" src="../../javascripts/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../../javascripts/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 2.25.0, nicepage.com">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"url": "index.html",
		"logo": "images/53e5d3404d55a914f6da8c7dda793678153bdee757596c48732f7bd49f4fcd59be_1280.jpg"
}</script>
  <meta property="og:title" content="user_page">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="index.html">
  <meta property="og:url" content="index.html">
  <style>
    .u-container-layout>p {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</head>

<body class="u-body u-overlap">
  <header class="u-align-left u-clearfix u-grey-90 u-header u-header" id="sec-ecdc">
    <%- include('../part/header.ejs') %>
  </header>
  <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1280"
    data-image-height="853" id="sec-293d">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h1 class="u-text u-title u-text-1">Settings</h1>
    </div>
  </section>
  <section class="u-align-left u-clearfix u-section-2" id="sec-0e7b">
    <div class="u-clearfix u-sheet u-sheet-1">
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="/user/<%- userID %>">글목록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/change/<%- userID %>">패스워드 변경</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/delete/<%- userID %>">계정 삭제</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <%- include('../part/modal.ejs') %>
  <%if(mod instanceof Object){%>
  <%- include('./part/list') %>
  <%}else{%>
  <%-include('./part/'+mod)%>
  <%}%>

  <footer class=" u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-c00f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Sample footer text</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <% if (modal[0]){ %>
  <script>
    $('#modal').modal('show');
  </script>
  <%}%>
</body>

</html>