<% mod.forEach(function(topic){ %>
<section class="u-clearfix u-section-3" id="sec-0c25">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-13 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h3 class="u-align-center u-text u-text-1"><%= topic.title %></h3>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-47 u-layout-cell-2">
                        <div
                            class="u-container-layout u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-2">
                            <p class="u-align-center u-text u-text-2"><%- topic.description.split('</p>')[0] %></p>
                            <form action="/topic/delete/<%- topic.id %>" method="POST">
                                <a href="/topic/<%- topic.id %>" class="u-black u-btn u-button-style u-btn-1">Read
                                    More</a>
                                <a href="/topic/update/<%- topic.id %>"
                                    class="u-black u-btn u-button-style u-btn-2">EDIT</a>

                                <input type="submit" class="u-black u-btn u-button-style u-btn-3" value="delete">
                                <% if(!parentTopic){%>
                                <a href="/user/subtopic/<%- userID%>?parent=<%- topic.id %>&page=1"
                                    class="u-black u-btn u-button-style u-btn-4">Subtopic</a>
                                <%}%>
                            </form>
                            <p class="u-align-center u-text u-text-default u-text-3"><%= topic.created %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% }) %>

<section class="u-clearfix u-section-3" id="sec-0c25">
    <div class="u-clearfix u-sheet u-sheet-1">
        <% if(parentTopic){%>
        <a href="/subtopic/create/<%- parentTopic %>" class="u-border-2 u-border-black u-btn u-button-style u-btn-1 u-hover-black u-none u-text-black
                u-text-hover-white u-btn-1">create</a>
        <%}else{%>
        <a href="/topic/create/<%- userID %>" class="u-border-2 u-border-black u-btn u-button-style u-btn-1 u-hover-black u-none u-text-black
                u-text-hover-white u-btn-1">create</a>
        <% }%>

    </div>
</section>
<section class="u-clearfix u-section-3" id="sec-f51f">
    <div class="u-clearfix u-sheet u-sheet-1">
        <ul class="responsive-style1 u-absolute-hcenter u-expanded-height u-pagination u-unstyled u-pagination-1">
            <% if(page != 1){ %>
            <li class="prev u-nav-item u-pagination-item">
                <a class="u-button-style u-nav-link" href="?page=<%- page -1 %>" style="padding: 40px 12px;">〈</a>
            </li>
            <%} %>
            <% for(var i = 0 ; i< Math.ceil(topicLength.length/3); i++){ %>
            <li class="active u-nav-item u-pagination-item">
                <a class="u-button-style u-nav-link" href="?page=<%- i+1 %>" style="padding: 40px 12px;"><%- i+1 %></a>
            </li>
            <%}%>
            <% if (page != Math.ceil(topicLength.length/3)){ %>
            <li class="next u-nav-item u-pagination-item">
                <a class="u-button-style u-nav-link" href="?page=<%- page +1 %>" style="padding: 40px 12px;">〉</a>
            </li>
            <%}%>
        </ul>
    </div>
</section>